body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --iphone-screen-width: 375px;
  --ipad-screen-width: 768px;
}

@media (min-width: 0px) and (max-width: calc(768px - 1px)) {
  .root {
    width: var(--iphone-screen-width);
    padding-left: calc((100% - var(--iphone-screen-width)) / 2);
    padding-right: calc((100% - var(--iphone-screen-width)) / 2);
  }
}

@media (min-width: 768px) {
  .root {
    width: var(--ipad-screen-width);
    padding-left: calc((100% - var(--ipad-screen-width)) / 2);
    padding-right: calc((100% - var(--ipad-screen-width)) / 2);
  }
}
