body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --iphone-screen-width: 375px;
}

@media (min-width: 375px) {
  .root {
    width: var(--iphone-screen-width);
    padding-left: calc((100% - var(--iphone-screen-width)) / 2);
    padding-right: calc((100% - var(--iphone-screen-width)) / 2);
  }
}
